In [1]:
!pip install mysql-connector-python sqlalchemy pymysql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (9.2.0)
Requirement already satisfied: sqlalchemy in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (2.0.38)
Requirement already satisfied: pymysql in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (1.1.1)
Requirement already satisfied: greenlet!=0.4.17 in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (from sqlalchemy) (4.12.2)

In [2]:
!python3 -m pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.15.0)

In [3]:
!python3 -m pip install tabulate

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: tabulate in /Users/Meenu/Library/Python/3.9/lib/python/site-packages (0.9.0)

In [4]:
import mysql.connector
from sqlalchemy import create_engine
import pandas as pd
from tabulate import tabulate
from IPython.display import display, HTML  

# Establish MySQL connection
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Meenu@14785",
    database="Credemption"
)

# Create SQLAlchemy engine (only once)
engine = create_engine("mysql+pymysql://root:Meenu@14785@localhost/Credemption")

# Function to display query results in a scrollable table
def display_query_result(df):
    pd.set_option('display.max_colwidth', None)
    pd.set_option('display.width', 2000)
    pd.set_option('display.max_columns', None)
    pd.set_option('display.expand_frame_repr', False)

    # Convert DataFrame to an HTML table
    table_html = df.to_html(index=False)

    # Wrap the table in a scrollable div
    scrollable_table = f"""
    <div style="max-height: 400px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;">
        {table_html}
    </div>
    """

    display(HTML(scrollable_table))  # Display in Jupyter Notebook

# Function to run a query and display results
def run_query(query):
    # Create cursor to execute the query
    cursor = conn.cursor()
    cursor.execute(query)
    
    # Fetch all results
    result = cursor.fetchall()  # Use cursor.fetchone() for a single row
    
    # Fetch column names
    column_names = [desc[0] for desc in cursor.description]

    # Convert result to pandas DataFrame
    df = pd.DataFrame(result, columns=column_names)

    # Call function to display the result in a scrollable block
    display_query_result(df)
    
# Example usage
query = "SELECT * FROM customer_demographics LIMIT 1000;"  # Replace with your table name
run_query(query)

In [5]:
cursor = conn.cursor()
cursor.execute("SHOW TABLES")

for table in cursor:
    print(table)

('campaign_data',)
('coupon_item_mapping',)
('customer_demographics',)
('customer_transactions',)
('item_data',)
('temp_campaign_data',)
('test',)
('TRAIN',)

### Marital Status and number of Customers

In [6]:
query = """
    SELECT marital_status, COUNT(customer_id) AS Count_of_customer
    FROM customer_demographics
    GROUP BY marital_status
"""
run_query(query)

## List of command I used in Vscode to modify the customer demographic table for clean up 
```update customer_demographics
set
    marital_status = 'Single'
where
    marital_status = '';

commit;

select
    no_of_children ,length (no_of_children),
    count(customer_id),
from
    customer_demographics
group by
    no_of_children;

update customer_demographics
set
    no_of_children = 0
where
    marital_status = 'Single';

commit;

ALTER TABLE customer_demographics MODIFY COLUMN family_size INT;

ALTER TABLE customer_demographics MODIFY COLUMN no_of_children INT;

update customer_demographics
set
    family_size = 2 + no_of_children
where
    marital_status = 'Married'
    and no_of_children > 0;

commit;

update customer_demographics
set
    family_size = 1
where
    marital_status in ('Widowed', 'Divorced')
    and no_of_children = 0;

commit;

update customer_demographics
set
    family_size = 1 + no_of_children
where
    marital_status in ('Widowed', 'Divorced') commit;

I assumed "Single" customer wouldn't have childresn so I updated the no_of children to 0

In [7]:
query = """
select
    family_size,
    marital_status,
    no_of_children,
    count(customer_id) Count_of_customer
from
    customer_demographics
group by
    family_size,
    marital_status,
    no_of_children
order by marital_status    
"""
run_query(query)

### <span style="color:green"> ** Singles doesn't have Children ** </span>

# <span style="color:red; font-weight:bold;"> 1) No of  Coupons Redember by Customer or not for any Campaign id</span>

In [8]:
query1 = """select COUNT(distinct campaign_id) Count_of_Campaign
from campaign_data
"""
run_query(query1)

query2 = """select distinct redemption_status
from train
"""
run_query(query2)


query3 = """
WITH Coupon_not_Red AS (
    SELECT DISTINCT cd.campaign_id
    FROM campaign_data cd
    WHERE cd.campaign_id NOT IN (
        SELECT DISTINCT campaign_id
        FROM train 
        WHERE redemption_status = 1
    )
)
SELECT 
    cd.campaign_id,
    COUNT(DISTINCT train.customer_id) AS Count_distinct_Customerid,
    'Yes' AS Customer_Redeemed
FROM campaign_data cd
INNER JOIN train ON cd.campaign_id = train.campaign_id
WHERE train.redemption_status = 1
GROUP BY cd.campaign_id

UNION

SELECT 
    cnr.campaign_id,
    COALESCE(COUNT(DISTINCT train.customer_id), 0) AS Count_distinct_Customerid,
    'No' AS Customer_Redeemed
FROM Coupon_not_Red cnr
LEFT JOIN train ON cnr.campaign_id = train.campaign_id
GROUP BY cnr.campaign_id

ORDER BY campaign_id;

"""

run_query(query3)

<span style="color:green; font-weight:bold;">For 10 campaigns, Customer hasn't redeemed any coupon</span>

<span style="color:red; font-weight:bold;"> 2) Find the number of coupons redeemed per campaign and the percentage of Coupon Redeemed </span>

In [9]:
query = """
SELECT campaign_id,
    COUNT(DISTINCT coupon_id) AS distinct_coupon_count,
    COUNT(coupon_id) AS CouponDistributed,
    COUNT(CASE WHEN redemption_status = 1 THEN 1 END) AS Redeemed,
    COUNT(CASE WHEN redemption_status = 0 THEN 1 END) AS NotRedeemed,
    (COUNT(CASE WHEN redemption_status = 1 THEN 1 END) / COUNT(coupon_id)) * 100 AS percent_coupon_redeemed
FROM train
GROUP BY campaign_id
order by  (COUNT(CASE WHEN redemption_status = 1 THEN 1 END) / COUNT(coupon_id)) * 100 desc
"""
run_query(query)

<span style="color:green; font-weight:bold;"> Coupon 6 and 13 has 1.5 percentage of redemption rate </span>

<span style="color:red; font-weight:bold;"> 3) List customers who have never redeemed a coupon along with rate of redemption.</span> 
 ### Found not all customer in train has information in customer demographics. So adding random data to the customer demographics
` ` `select distinct customer_id
from train t
where not exists (
        select 1
        from customer_demographics cd
        where cd.customer_id = t.customer_id
    );
select distinct no_of_children
from customer_demographics as cd;


update customer_demographics
set no_of_children = '3'
where no_of_children = '3+';


ALTER TABLE customer_demographics
ADD COLUMN from_Kaggle VARCHAR(10) NOT NULL DEFAULT 'Yes';


LOAD DATA INFILE '/usr/local/mysql-files/synthetic_customer_data_extended.csv' INTO TABLE customer_demographics FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n' IGNORE 1 LINES;

In [35]:
# First query (count distinct customer_id from train table)
query1 = "select count(distinct customer_id) from train"
run_query(query1)

# Second query (customer participation and coupon redemption statistics)
query2 = """ 
select *
from (
    select CD.customer_id,
        CASE
            WHEN COUNT(DISTINCT tr.campaign_id) = 0 THEN 'NeverParticipated'
            ELSE 'Participated'
        END AS ParticipationStatus,
        count(DISTINCT tr.campaign_id) as campaignParticipated,
        group_concat(distinct campaign_id) AllcampaignParticipated,
        count(coupon_id) CouponProvided,
        COUNT(
            CASE
                WHEN redemption_status = 1 THEN coupon_id
            END
        ) Redeemed,
        COUNT(
            CASE
                WHEN redemption_status = 0 THEN coupon_id
            END
        ) NotRedeemed,
        COUNT(
            CASE
                WHEN redemption_status = 1 THEN coupon_id
            END
        ) / COUNT(tr.coupon_id) * 100 Per_of_Coupon_Redeemed
    from customer_demographics CD
        left join train tr on tr.customer_id = CD.customer_id
    group by CD.customer_id
) Subquery
where Per_of_Coupon_Redeemed>0
order by Per_of_Coupon_Redeemed desc,
        Subquery.campaignParticipated asc
"""
run_query(query2)

<span style="color:green; font-weight:bold;"> Cutomer who has the highest rate of coupon redemption percetage participated in only 1 campaing and the customer who has the least number of redemption percetage has been given coupon for 7 different campaing. Out of 1428 Customer ,57 Customer didn't receive any coupon.</span>

<span style="color:red; font-weight:bold;"> 4) Retrieve the total sales value of items bought using a coupon.</span>

In [11]:
query="SELECT CONCAT ('$', SUM(selling_price)) Total_SP FROM customer_transactionS AS CT WHERE coupon_discount <> 0"
run_query(query)

<span style="color:green; font-weight:bold;">THE TOTAL SELLING PRICE USING COUPON IS  $3143536.87.</span>

<span style="color:red; font-weight:bold;"> 5) Identify the top 3 most popular products by quantity sold under a campaign.</span>

In [12]:
#Checking if all the items from transaction table are availabe in Item_data table

query1 = """

select item_id
from item_data
where not exists (
        select 1
        from customer_transactions
        where item_data.item_id = customer_transactions.item_id
    )
"""
run_query(query1)

query2 = """

select item_id
from customer_transactions
where not exists (
        select 1
        from item_data
        where item_data.item_id = customer_transactions.item_id
    )
"""    
run_query(query2)
#main Query
query3 = """
with Ranksupport as(
    SELECT id.item_id,
        id.brand,
        id.brand_type,
        id.Category,
        SUM(ct.QUANTITY) AS total_quantity_sold,
        RANK() OVER (
            ORDER BY SUM(ct.QUANTITY) DESC
        ) AS quantity_rank
    FROM item_data id
        INNER JOIN customer_transactions ct ON id.item_id = ct.item_id
    where coupon_discount <> 0
    GROUP BY id.item_id,
        id.brand,
        id.brand_type,
        id.Category
)
select *
from Ranksupport
where quantity_rank < 11
"""
run_query(query3)

<span style="color:green; font-weight:bold;">There are extra 3 items availabe in Item table which wouldn't not cause any issue in analysis.Customer redmeed most of the coupons to buy groceries.</span>

<span style="color:red; font-weight:bold;"> 6) Find the total discount amount given to customers for each coupon.</span>

### Created indexes to address the performance issue.

CREATE INDEX idx_customer_transactions_customer_id ON customer_transactions(customer_id);
CREATE INDEX idx_coupon_item_mapping_coupon_id ON coupon_item_mapping(coupon_id);
CREATE INDEX idx_coupon_item_mapping_item_id ON coupon_item_mapping(item_id);
CREATE INDEX idx_TRAIN ON TRAIN(customer_id);
CREATE INDEX idx_TRAIN ON TRAIN(coupon_id);
SHOW PROCESSLIST;

show index
from customer_transactions;

show index
from coupon_item_mapping;

SHOW INDEX
FROM TRAIN;

In [37]:
query = """
WITH ranked_customers AS (
    SELECT DISTINCT
        tr.customer_id,
        tr.campaign_id,
        cim.coupon_id,
        cd.marital_status,
        cd.family_size,
        SUM(ct.selling_price) AS selling_price,
        SUM(ct.coupon_discount) AS coupon_discount,
        RANK() OVER (ORDER BY SUM(ct.coupon_discount) ASC) AS Customer_ranking_coupon_discount
    FROM train tr
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
        AND ct.coupon_discount <> 0
    INNER JOIN coupon_item_mapping cim ON cim.item_id = ct.item_id
        AND tr.coupon_id = cim.coupon_id
    INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
        AND ct.transaction_date BETWEEN camp.start_date AND camp.end_date
    GROUP BY
        tr.customer_id,
        tr.campaign_id,
        cim.coupon_id,
        cd.marital_status,
        cd.family_size
)
SELECT *
FROM ranked_customers
WHERE Customer_ranking_coupon_discount < 101
ORDER BY Customer_ranking_coupon_discount DESC;

"""
run_query(query)

#show PROCESSLIST;


# select * from customer_transactions where customer_id = 1558

<span style="color:green; font-weight:bold;">Displayed Selling Price along with discount value for customer.</span>

<span style="color:red; font-weight:bold;">7)Retrieve customers who have redeemed more than 5 coupons..</span>

In [14]:
query = """
WITH
    COUNTCOUPONSUPPORT AS (
        SELECT
            customer_id,
            COUNT(DISTINCT coupon_id) AS COUPONCOUNT
        FROM
            train
        WHERE
            redemption_status = '1'
        GROUP BY
            customer_id
    )
SELECT
    *,
    COUNT(*) OVER () AS No_of_cutomer
FROM
    COUNTCOUPONSUPPORT
WHERE
    COUPONCOUNT > 5
ORDER BY
    COUPONCOUNT;
"""
run_query(query)

#show PROCESSLIST;


# select * from customer_transactions where customer_id = 1558

<span style="color:green; font-weight:bold;">Only 31 customer redeemed more than 5 coupons.</span>

<span style="color:red; font-weight:bold;">8)List all the customers who have purchased a particular item.</span>

In [15]:
query = """
select
    id.category,
    count(distinct ct.customer_id) Count_customer
from
    item_data id
    inner join customer_transactions ct on ct.item_id = id.item_id
    and ct.coupon_discount <> 0
group by
    id.category
order by count(distinct ct.customer_id) desc    
"""
run_query(query)

#show PROCESSLIST;


# select * from customer_transactions where customer_id = 1558

<span style="color:green; font-weight:bold;"> Most of the customer used their coupons on Grocery and Pharmaceutical.</span>

<span style="color:red; font-weight:bold;">9)Find the average income bracket of customers who redeemed coupons.</span>

In [16]:
query = """
select
    cd.marital_status,
    round(avg(income_bracket)) income_bracket
from
    train tr
    inner join customer_demographics cd on cd.customer_id = tr.customer_id
    and redemption_status = '1'
group by
    cd.marital_status; 
"""
run_query(query)

#show PROCESSLIST;

<span style="color:green; font-weight:bold;"> Divorced are in higher income bracket.</span>

<span style="color:red; font-weight:bold;"> 10)Determine the most frequently used coupon in a specific campaign.</span>

In [5]:
query = """
SELECT DISTINCT
    camp.campaign_id,
    tr.coupon_id,
    COUNT(*) AS Count_of_Coupon
FROM train TR
INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    AND ct.coupon_discount <> 0
INNER JOIN coupon_item_mapping cim ON cim.item_id = ct.item_id
    AND tr.coupon_id = cim.coupon_id
INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
    AND ct.transaction_date BETWEEN camp.start_date AND camp.end_date
GROUP BY
    camp.campaign_id,
    tr.coupon_id
HAVING COUNT(*) >= 10    
ORDER BY Count_of_Coupon DESC;
"""
run_query(query)

#show PROCESSLIST;

<span style="color:green; font-weight:bold;"> Campaign 13 has the most coupon allocted and redeemed.</span>

<span style="color:red; font-weight:bold;"> Complex SQL Questions Using Window Functions. </span><br>
<span style="color:red; font-weight:bold;">1.	Rank customers based on the number of coupons redeemed per campaign.</span>

In [18]:
query = """
with ranksupport as (
    select campaign_id,
        count(distinct customer_id) No_of_customer,
        rank() over (
            order by count(distinct customer_id) DESC
        ) rankCampaign
    from train
    where redemption_status = 1
    group by campaign_id
    order by campaign_id
)
select *
from ranksupport
order by rankCampaign;
"""
run_query(query)

#show PROCESSLIST;

<span style="color:green; font-weight:bold;"> Campaign 13 has the most number of customer participated.</span>

<span style="color:red; font-weight:bold;"> 2)Calculate the cumulative discount for each customer across all campaigns.</span>

In [19]:
query1 = """ SELECT distinct camp.campaign_id,
    tr.coupon_id,
    sum(
        case
            when ct.transaction_date between camp.start_date and camp.end_date then coupon_discount
        end
    ) discountvalue_used_ontime,
    sum(
        case
            when ct.transaction_date not between camp.start_date and camp.end_date then coupon_discount
        end
    ) discountvalue_used_notontime,
    count(
        case
            when ct.transaction_date between camp.start_date and camp.end_date then cd.customer_id
        end
    ) countcoupon_used_ontime,
    count(
        case
            when ct.transaction_date not between camp.start_date and camp.end_date then cd.customer_id
        end
    ) countcoupon_used_notontime
FROM train TR
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    and coupon_discount <> 0
    inner join coupon_item_mapping cim on cim.item_id = ct.item_id
    and tr.coupon_id = cim.coupon_id
    and ct.item_id = cim.item_id
    inner join campaign_data camp on tr.campaign_id = camp.campaign_id
GROUP BY camp.campaign_id,
    tr.coupon_id
ORDER BY camp.campaign_id desc;

"""
run_query(query1)

query2 = """
SELECT distinct camp.campaign_id,
tr.coupon_id,
count(ct.customer_id) over (PARTITION by tr.coupon_id) NO_OF_COUPON_USED,
sum(ct.coupon_discount) over (PARTITION by tr.coupon_id) COUPONVALUE
FROM train TR
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    and coupon_discount <> 0
    inner join coupon_item_mapping cim on cim.item_id = ct.item_id
    and tr.coupon_id = cim.coupon_id
    and ct.item_id = cim.item_id
    inner join campaign_data camp on tr.campaign_id = camp.campaign_id
    and ct.transaction_date between camp.start_date and camp.end_date
ORDER BY camp.campaign_id desc;
"""
run_query(query2)

<span style="color:red; font-weight:bold;"> 3. Identify the top 5 customers by total spending on items with coupons.
</span>

In [20]:
query = """ 
with ranksupport as(
    SELECT distinct camp.campaign_id,
        tr.coupon_id,
        tr.customer_id,
        ct.item_id,
        sum(ct.selling_price) over (
            PARTITION by camp.campaign_id,
            tr.coupon_id,
            tr.customer_id
        ) SELLINGVALUE,
        sum(ct.coupon_discount) over (
            PARTITION by camp.campaign_id,
            tr.coupon_id,
            tr.customer_id
        ) COUPONVALUE
    FROM train TR
        INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
        INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
        and coupon_discount <> 0
        and tr.redemption_status = 1
        inner join coupon_item_mapping cim on cim.item_id = ct.item_id
        and tr.coupon_id = cim.coupon_id
        and ct.item_id = cim.item_id
        inner join campaign_data camp on tr.campaign_id = camp.campaign_id
        and ct.transaction_date between camp.start_date and camp.end_date
    ORDER BY camp.campaign_id,
        tr.coupon_id,
        tr.customer_id desc
),
rankcalc as (
    select *,
        RANK() OVER (
            ORDER BY SELLINGVALUE DESC
        ) AS rank_sellingPrice
    FROM ranksupport
)
select *
from rankcalc
where rank_sellingPrice < 10;
"""
run_query(query)

<span style="color:red; font-weight:bold;"> 4. Calculate the moving average of coupon redemption rate for each campaign over time.
</span>

In [7]:
query = """
select
    tr.campaign_id,
    tr.customer_id,
    camp.start_date,
    camp.end_date,
    avg(redemption_status) over (
        partition by
            tr.campaign_id
        ORDER by
            tr.customer_id,
            ct.transaction_date asc rows between 4 PRECEDING
            and current row
    ) AVERAGE_COUPON
FROM
    train TR
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
                and coupon_discount <> 0
    INNER JOIN coupon_item_mapping cim on cim.item_id = ct.item_id
                and tr.coupon_id = cim.coupon_id
                and ct.item_id = cim.item_id
    INNER JOIN campaign_data camp on tr.campaign_id = camp.campaign_id
                and ct.transaction_date between camp.start_date and camp.end_date;
    """
run_query(query)

<span style="color:red; font-weight:bold;"> 5.Rank products based on the quantity sold per coupon redemption.</span>

In [22]:
query = """
with customer_redeemed as (
    select campaign_id,
        coupon_id,
        customer_id
    from train
    where redemption_status = 1
    group by campaign_id,
        coupon_id,
        customer_id
),
redeemed_transaction as (
    select customer_id,
        item_id,
        sum(quantity) quantity
    from customer_transactions
    where coupon_discount <> 0
    group by customer_id,
        item_id
)
select distinct customer_redeemed.campaign_id,
    id.CATEGORY,
    count(distinct customer_redeemed.customer_id) redeemed_count,
    sum(rt.quantity) as quan,
    rank() over (
        partition by customer_redeemed.campaign_id
        order by count(distinct customer_redeemed.customer_id) desc
    ) Customer_Rank,
    rank() over (
        partition by customer_redeemed.campaign_id
        order by sum(rt.quantity) desc
    ) quantity_rank
from item_data id
    inner join redeemed_transaction rt on rt.item_id = id.item_id
    inner join customer_redeemed on customer_redeemed.customer_id = rt.customer_id
group by customer_redeemed.campaign_id,
    id.CATEGORY
order by customer_redeemed.campaign_id,
    redeemed_count desc;
    """
run_query(query)

#show PROCESSLIST

<span style="color:red; font-weight:bold;"> 6.Percentage of correct and incorrect customer.</span>

In [23]:
query = """
SELECT campaign_id,
    customer_id,
    coupon_id,
    transaction_status,
    COUNT(*) AS transaction_count,
    CAST(COUNT(*) AS DECIMAL) / CAST(
        SUM(COUNT(*)) OVER (PARTITION BY campaign_id, customer_id, coupon_id) AS DECIMAL
    ) AS transaction_percentage
FROM (
        SELECT tr.campaign_id,
            tr.customer_id,
            tr.coupon_id,
            count(tr.coupon_id) over (
                partition by tr.campaign_id,
                tr.customer_id,
                tr.coupon_id
            ) No_ofTimesCoupon_Used,
            CASE
                WHEN ct.transaction_date BETWEEN camp.start_date AND camp.end_date THEN 'Correct transaction'
                ELSE 'Incorrect transaction'
            END AS transaction_status
        FROM train tr
            INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
            INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
            AND ct.coupon_discount <> 0
            INNER JOIN coupon_item_mapping cim ON cim.item_id = ct.item_id
            AND tr.coupon_id = cim.coupon_id
            INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
        WHERE tr.redemption_status = 1
    ) AS subquery
GROUP BY campaign_id,
    customer_id,
    coupon_id,
    transaction_status
ORDER BY campaign_id,
    transaction_percentage DESC;
    """
run_query(query)

#show PROCESSLIST

<span style="color:red; font-weight:bold;"> 7.Calculate the average sales value per customer across campaigns.Average Money Spend and Average Money saved.</span>

In [24]:
query = """
select tr.Customer_id,
    avg(selling_price) AVG_Selling_Price,
    avg(
        case
            when ct.transaction_date between camp.start_date and camp.end_date then coupon_discount
        end
    ) Average_coupon_discount,
    avg(
        case
            when ct.transaction_date between camp.start_date and camp.end_date then other_discount
        end
    ) Average_other_discount,
    avg(selling_price) +(
        avg(
            case
                when ct.transaction_date between camp.start_date and camp.end_date then coupon_discount
            end
        ) + avg(
            case
                when ct.transaction_date between camp.start_date and camp.end_date then other_discount
            end
        )
    ) Average_Spend,
    avg(selling_price) -(
        avg(selling_price) +(
            avg(
                case
                    when ct.transaction_date between camp.start_date and camp.end_date then coupon_discount
                end
            ) + avg(
                case
                    when ct.transaction_date between camp.start_date and camp.end_date then other_discount
                end
            )
        )
    ) Average_Saving
FROM train tr
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    AND ct.coupon_discount <> 0
    INNER JOIN coupon_item_mapping cim ON cim.item_id = ct.item_id
    AND tr.coupon_id = cim.coupon_id
    INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
WHERE tr.redemption_status = 1
group by customer_id
Order by customer_id;
    """
run_query(query)

#show PROCESSLIST 

# from Customer point of View
query1 = """
 select camp.campaign_id,
    datediff(end_date, start_date) Campaigndays,
    count(distinct tr.coupon_id) No_of_Coupon_per_campaing,
    count(distinct tr.customer_id) Cusotmer_participated,
    avg(selling_price) AVG_Selling_Price,
    avg(
        case
            when ct.transaction_date between camp.start_date and camp.end_date then coupon_discount
        end
    ) Average_coupon_discount,
    avg(
        case
            when ct.transaction_date between camp.start_date and camp.end_date then other_discount
        end
    ) Average_other_discount,
    avg(selling_price) +(
        avg(
            case
                when ct.transaction_date between camp.start_date and camp.end_date then coupon_discount
            end
        ) + avg(
            case
                when ct.transaction_date between camp.start_date and camp.end_date then other_discount
            end
        )
    ) Average_Spend,
    avg(selling_price) -(
        avg(selling_price) +(
            avg(
                case
                    when ct.transaction_date between camp.start_date and camp.end_date then coupon_discount
                end
            ) + avg(
                case
                    when ct.transaction_date between camp.start_date and camp.end_date then other_discount
                end
            )
        )
    ) Average_Saving
FROM train tr
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    AND ct.coupon_discount <> 0
    INNER JOIN coupon_item_mapping cim ON cim.item_id = ct.item_id
    AND tr.coupon_id = cim.coupon_id
    INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
WHERE tr.redemption_status = 1
group by camp.campaign_id,
    datediff(end_date, start_date)
Order by camp.campaign_id;
"""
run_query(query1)

<span style="color:red; font-weight:bold;"> 8.Identify the percentage change in sales for each product before and after a campaign.</span>

In [25]:
query = """
WITH filtered_transactions AS (
    SELECT ct.customer_id,
        ct.item_id,
        ct.transaction_date,
        ct.selling_price
    FROM customer_transactions ct
    WHERE ct.coupon_discount <> 0
),
campaign_sales AS (
    SELECT id.category,
        ft.transaction_date,
        ft.selling_price,
        camp.start_date,
        camp.end_date,
        CASE
            WHEN ft.transaction_date < camp.start_date THEN 'AVG_SELL_PRICE_BEFORE_CAMP'
            WHEN ft.transaction_date BETWEEN camp.start_date AND camp.end_date THEN 'AVG_SELL_PRICE_DURING_CAMP'
            WHEN ft.transaction_date > camp.end_date THEN 'AVG_SELL_PRICE_AFTER_CAMP'
        END AS Selling_Price_Timing_Label,
        CASE
            WHEN ft.transaction_date < camp.start_date THEN 1
            WHEN ft.transaction_date BETWEEN camp.start_date AND camp.end_date THEN 2
            WHEN ft.transaction_date > camp.end_date THEN 3
        END AS Selling_Price_Timing
    FROM train tr
        INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
        INNER JOIN filtered_transactions ft ON ft.customer_id = tr.customer_id
        INNER JOIN coupon_item_mapping cim ON cim.item_id = ft.item_id
        AND tr.coupon_id = cim.coupon_id
        INNER JOIN item_data id ON id.item_id = ft.item_id
        INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
    WHERE tr.redemption_status = 1
),
aggregated_sales AS (
    SELECT category,
        Selling_Price_Timing_Label,
        Selling_Price_Timing,
        AVG(selling_price) AS Avg_Selling_Price
    FROM campaign_sales
    GROUP BY category,
        Selling_Price_Timing_Label,
        Selling_Price_Timing
)
SELECT category,
    Selling_Price_Timing_Label,
    Selling_Price_Timing,
    Avg_Selling_Price,
    LEAD(Avg_Selling_Price) OVER (
        PARTITION BY category
        ORDER BY Selling_Price_Timing ASC
    ) AS Next_Avg_Selling_Price,
    CASE
        WHEN Avg_Selling_Price = 0 THEN NULL
        ELSE ROUND(
            (
                LEAD(Avg_Selling_Price) OVER (
                    PARTITION BY category
                    ORDER BY Selling_Price_Timing ASC
                ) - Avg_Selling_Price
            ) / Avg_Selling_Price * 100,
            2
        )
    END AS Percentage_Change
FROM aggregated_sales
ORDER BY category,
    Selling_Price_Timing;
"""
run_query(query)

<span style="color:red; font-weight:bold;">9.Find the rank of each coupon based on total discount value in a campaign.</span>

In [26]:
query = """
WITH
    coupon_summary AS (
        SELECT
            camp.campaign_id,
            tr.coupon_id,
            SUM(ct.coupon_discount) AS total_coupon_discount
        FROM
            train tr
            INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
            INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
            INNER JOIN item_data id ON id.item_id = ct.item_id
            INNER JOIN coupon_item_mapping cim ON cim.item_id = id.item_id
            AND tr.coupon_id = cim.coupon_id
            INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
        WHERE
            tr.redemption_status = 1
            and ct.coupon_discount <> 0
        GROUP BY
            camp.campaign_id,
            tr.coupon_id
    )
SELECT
    campaign_id,
    coupon_id,
    total_coupon_discount,
    RANK() OVER (
        PARTITION BY
            campaign_id
        ORDER BY
            total_coupon_discount DESC
    ) AS rank_per_campaign_coupon,
    DENSE_RANK() OVER (
        PARTITION BY
            campaign_id
        ORDER BY
            total_coupon_discount DESC
    ) AS Denserank_per_campaign_coupon
FROM
    coupon_summary
order by
    campaign_id asc;
"""
run_query(query)

<span style="color:red; font-weight:bold;">10.Determine how many campaigns a customer participated in, with a limit to those who redeemed coupons.</span>

In [27]:
query = """ select
    tr.customer_id,
    count(distinct tr.campaign_id) No_Of_Campaign_participated,
    rank() over (
        order by
            count(distinct tr.campaign_id) desc
    ) CampaignCustomerRank
FROM
    train tr
where
    tr.redemption_status = 1
group by
    customer_id; """
run_query(query)

<span style="color:red; font-weight:bold;">11. List the customers with the highest cumulative discount, ordered by campaign.</span>

In [28]:
query = """ with
    pre_aggregated as (
        SELECT
            tr.customer_id,
            tr.campaign_id,
            camp.start_date,
            SUM(ct.coupon_discount) total_coupon_discount
        FROM
            train tr
            INNER JOIN campaign_data camp ON camp.campaign_id = tr.campaign_id
            INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
            and ct.transaction_date between camp.start_date and camp.end_date
        WHERE
            tr.redemption_status = 1
        group by
            tr.customer_id,
            tr.campaign_id,
            camp.start_date
        ORDER BY
            tr.customer_id,
            tr.campaign_id,
            camp.start_date
    )
select
    *,
    sum(total_coupon_discount) over (
        partition by
            customer_id
        order by
            start_date
    ) cumulative_discount,
    sum(total_coupon_discount) over (
        order by
            customer_id
    ) cust_cumulative_discount
from
    pre_aggregated
order by
    customer_id,
    start_date ;"""
run_query(query)

<span style="color:red; font-weight:bold;">12.Find the median sales value of items purchased by customers who redeemed coupons.</span>

In [29]:
query = """
WITH
    supportranked_data AS (
        SELECT distinct
            id.category,
            ct.selling_price
        FROM
            customer_transactions ct
            INNER JOIN item_data id ON ct.item_id = id.item_id
        order by
            id.category,
            ct.selling_price
    ),
    rank_data as (
        select
            *,
            row_number() over (
                partition by
                    category
                order by
                    selling_price
            ) row_num,
            count(*) over (
                partition by
                    category
            ) total_count
        from
            supportranked_data
        order by
            category,
            selling_price,
            row_number() over (
                partition by
                    category
                order by
                    selling_price
            ) asc
    )
SELECT
    *
FROM
    rank_data
WHERE
    row_num = CEIL(total_count / 2)  
    
"""
run_query(query)

<span style="color:red; font-weight:bold;">13.Identify customers who have redeemed coupons in consecutive campaigns.</span>

In [30]:
query = """ with
    Participation_count as (
        select
            customer_id,
            cd.campaign_id,
            start_date,
            count(
                distinct case
                    when tr.redemption_status = 1 then coupon_id
                end
            ) redeemned_count,
            count(
                distinct case
                    when tr.redemption_status = 0 then coupon_id
                end
            ) unredeemed_count,
            lead (
                count(
                    distinct case
                        when tr.redemption_status = 1 then coupon_id
                    end
                )
            ) over (
                partition by
                    Customer_id
                order by
                    start_date asc
            ) Participation_Count
        from
            campaign_data cd
            inner join train tr on tr.campaign_id = cd.campaign_id
        group by
            customer_id,
            cd.campaign_id
        order by
            customer_id,
            start_date asc
    ),
    Consicutive_Campaign as (
        select
            *,
            case
                when Participation_Count > 0 then 'Participated_consecutive_Campaign'
                when Participation_Count = 0 then 'Skip_Next_Campaign'
            end participated_Skip
        from
            Participation_count
    )
select
    customer_id,
    count(campaign_id),
    sum(
        case
            when participated_Skip = 'Participated_consecutive_Campaign' then 1
        end
    ) Participated_consecutive_Campaign,
    sum(
        case
            when participated_Skip = 'Skip_Next_Campaign' then 1
        end
    ) skip_Campaign
from
    Consicutive_Campaign    
group by
    customer_id;"""
run_query(query)

<span style="color:red; font-weight:bold;">14.Calculate the total discount and redemption rate per customer and campaign.</span>

In [8]:
query1 = """ select
    marital_status,
    count(distinct tr.customer_id) CustomerCount,
    count(distinct tr.campaign_id) CampaignCount,
    count(distinct tr.coupon_id) CouponCount
FROM
    train tr
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    and tr.redemption_status = 1
    INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    and ct.transaction_date between start_date and end_date
group by
    marital_status;
""" 
run_query(query1)

query2 = """
select
    age_range,
    count(distinct tr.customer_id) CustomerCount,
    count(distinct tr.campaign_id) CampaignCount,
    count(distinct tr.coupon_id) CouponCount
FROM
    train tr
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    and tr.redemption_status = 1
    INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    and ct.transaction_date between start_date and end_date
group by
    age_range
"""

run_query(query2)

query3 = """
select
    income_bracket,
    count(distinct tr.customer_id) CustomerCount,
    count(distinct tr.campaign_id) CampaignCount,
    count(distinct tr.coupon_id) CouponCount
FROM
    train tr
    INNER JOIN customer_demographics cd ON tr.customer_id = cd.customer_id
    and tr.redemption_status = 1
    INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    and ct.transaction_date between start_date and end_date
group by
    income_bracket;
 """
run_query(query3)

<span style="color:red; font-weight:bold;">15.Calculate the total discount and redemption rate per customer and campaign.</span>

In [ ]:
query = """ SELECT distinct
    tr.customer_id,
    tr.campaign_id,
    SUM(ct.coupon_discount) OVER (
        PARTITION BY
            customer_id,
            campaign_id
    ) AS total_discount,
    COUNT(*) OVER (
        PARTITION BY
            tr.customer_id,
            tr.campaign_id
    ) * 1.0 / COUNT(*) OVER (
        PARTITION BY
            tr.campaign_id
    ) AS redemption_rate
FROM
    train tr
    INNER JOIN campaign_data camp ON tr.campaign_id = camp.campaign_id
    and tr.redemption_status = 1
    INNER JOIN customer_transactions ct ON ct.customer_id = tr.customer_id
    and ct.transaction_date between start_date and end_date; 
    """
run_query(query)